.md-azul, .md-azul:hover {
	background-color: #008EAA !important;
}

.md-verde .md-verde:hover {
	background-color: #00B140 !important;
}

.md-azul:hover, .md-verde:hover {
	opacity: 0.9 !important;
}

.si-whatsapp:hover, .si-colored.si-whatsapp {
	background-color: #25D366 !important;
}